table, th, td {
    border: 1px solid rgba(221, 221, 221, .78)
}

.form-group>label {
    font-weight: bold;
    font-size: larger;
}

.x_title>h2 {
    float: left;
}

.x_title>.zvn-add-new {
    float: right;
}

.x_content>.row>div>a {
    margin-right: 10px;
}

.zvn-page-header {
    padding: 10px 10px;
    border: 3px solid rgb(201, 206, 212);
    margin-bottom: 10px;
    background-color: #E6E9ED;
}

.zvn-page-header-title {
    float: left;
}

.zvn-add-new {
    float: right;
}

.container-content {
    padding: 10px;
}

.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
    margin-bottom: 10px;
}

/*MY CSS*/

body {
    overflow-x: hidden;
    width: 100%
}

.table>tbody>tr>td {
    vertical-align: middle;
}

img.zvn-thumb {
    max-width: 100%;
}

.my-nav {
    padding: 0px;
    background-color: darkgreen;
}

.my-nav ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin: auto;*/
}

.my-nav .my-nav-menu li a:hover {
    background-color: #005000;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 16px;
}

.my-nav .my-nav-menu li a {
    /*background-color: #005000;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 16px;
}

.my-nav .my-nav-menu li:hover {
    background-color: #005000;
    padding-right: 0px;
}

.my-nav .account .dropdown-menu-custom {
    background-color: darkgreen;
}

.my-nav .account li a:hover {
    background-color: #005000;
    margin-top: 0px;
    margin-bottom: 0px;
    /*padding: 16px;*/
}


.left_col {
    background-color: #002000;
    padding-left: 0px;
    padding-right: 0px;
}

.left_col .my-nav {
    background-color: #002000;
    position: fixed;
}


.right_col {
    background-color: #f7f7f7;
    padding-left: 0px;
    padding-right: 0px;
}

.bar-ico-custom-color {
    color: #FFFFFF;
}

.my-nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.my-nav .nav_title a {
    text-decoration: none;
    color: #FFFFFF;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#footer {
    background: #1F1E23;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0px 20px 0px;
    bottom: 0;
}

.my-nav {
    background-color: darkgreen;
}


.page-header.zvn-page-header {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.zvn-page-header-title h3 {
    margin: 0;
}

.zvn-page-header-breadcrumb {
    float: right;
    line-height: 35px;
}

.zvn-page-header-title {
    display: inline-block;
}

.zvn-breadcrumb-title {
    list-style: none;
    margin-bottom: 0px;
}

.zvn-breadcrumb-item {
    float: left;
}

.zvn-breadcrumb-item>a:hover {
    color: #0e90d2;
}

.zvn-breadcrumb-item:first-child:before {
    content: "";
}

.zvn-breadcrumb-item:before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #636c72;
    content: "/";
}

.zvn-alert>strong {
    font-size: 20px;
}

.zvn-alert {
    color: #ffffff;
}

.zvn-alert button>span {
    color: #281f1f !important;
}

.zvn-box-slt-filter select {
    width: auto;
    display: inline-block;
}

.btn-icon {
    border-radius: 50%;
}

.zvn-pagination {
    margin: auto;
    float: right;
}

.main_menu_side {
    margin-top: 20px;
}

span.highlight {
    background: yellow;
    font-weight: bold;
}

@media only screen and (max-width: 1500px) {
  .left_col .my-nav {
    position: static;
  }
}